body {
  margin: 0;
  font-family: "Merriweather", serif;
  font-family: "Playpen Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "~react-quill/dist/quill.snow.css";
