body {
  margin: 0;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: inherit;
}
ol,
ul {
  list-style: auto;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "~react-quill/dist/quill.snow.css";
